---
layout: layouts/base.njk
title: About
---

<h1>Hello, World</h1>

<p>And so, a new voice emerges from the void.</p>

<p>I'm not one for introductions, so I'll keep it brief: I'm Trivaxy.</p>

<p>I started my programming journey back in 2016 by creating mods for Terraria. Ever since then, I took an interest in writing code, building things, and so on. Today, I'm fluent in all sorts of different languages and tools - but be warned: I don't guarantee quality of knowledge!</p>

<p>There's all sorts of different fields I'm interested in. Languages and compilers, runtimes, AI/ML (no, not just LLMs or GenAI), game development... probably other stuff I can't name off the top of my head.</p>

<p>I have a bachelor's in Software Engineering. I would've taken Computer Science, but a title with "engineer" sounds way cooler.</p>

<p>And... that's it. I like writing, and sharing the things I build, so I thought starting a blog would've been quite nice. I'll post whatever comes to mind here, and I'll <em>try</em> to keep it interesting.</p>

<p>Thanks for stopping by.</p>
