---
layout: layouts/base.njk
title: Contact
---

<h1>Contact</h1>

<p>You can find me in several ways, at your convenience:</p>
<ul>
  <li>By email: <a href="mailto:me@trivaxy.dev">me@trivaxy.dev</a></li>
  <li>GitHub: <a href="https://github.com/Trivaxy" target="_blank" rel="noopener">github.com/Trivaxy</a></li>
  <li>Discord: my tag is <strong>trivaxy</strong></li>
</ul>

<p>Feel free to reach out for any reason. For job opportunities or contract work, email is best.</p>