---
layout: layouts/base.njk
title: Home
---

<section>
  <h1>Psst, bored?</h1>
  <p>Maybe my ramblings can help with that.</p>
  
  </section>

<section>
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in collections.posts %}
    <li class="post-entry">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      {% if post.date %}<small class="post-date">{{ post.date | readableDate }}</small>{% endif %}
    </li>
    {% else %}
      <li><em>No posts yet.</em></li>
    {% endfor %}
  </ul>
</section>

